doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title List of Pets
    link(rel="stylesheet", href="/css/style.css")
   
  body
    h1 Custom Object Table
    a(href="/update-cobj" class="linkForUpdate") Add / Update this table
    table
      thead
        tr
          th Name
          th Type
          th Color
      tbody
        each pet in pets
          tr
            td= pet.properties.name
            td= pet.properties.type
            td= pet.properties.color